*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    display: flex;
    width: 100vw;
    /* background-color: aqua; */
    justify-content: space-around;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    border-bottom:black 5px solid ;

}
nav>a{
    /* border: solid rgb(225, 5, 5) 1px; */
    /* background-color: rgb(60, 66, 59); */
    color: black;
    text-decoration: none;
    padding: 15px;
}
nav>a:hover{
    font-size: larger;
    color: gold;

}
/* nav>a:visited{
  font-size:smaller;

} */
 main{
    display: flex;
    justify-content: space-evenly;
align-content: flex-start;
height: 80vh;
;
width: 100vw;
flex-wrap: wrap;
background-color: aqua;
overflow: hidden;
gap: 10px;
padding: 1%;
 }
 img{
    width: 50%;
    height: 40%;
    object-fit: cover;
 }
 main>div{
    /* margin: 20px; */
    width: 15%;
    height: 40%;
    background-color: aquamarine;
    border: red 1px solid;
    font-style:italic ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border-radius: 20%;
    overflow: hidden;

 }
 main>div:hover{
    width: 14%;
    height: 41%;
    border: blue dashed 5px;
 }
 footer{
  display:flex ;
  gap: 10px;
  margin-left:50px ;
  justify-content: center;
  /* align-items: center; */
  border: blue dashed 5px;
  padding: 20px;

 }
 footer>p+div{
  width: 2px;
  
  height:100px;
  align-self:stretch;
  border: blue solid 2px;

 }
 footer>p{
  align-self: center;
 }
